* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
}

header {
    display: flex;
    grid-column: 1 / 2;
    height: 60px;
    background-color: #7477BF;
    align-items: center;
    justify-content: space-evenly;
    
}

header img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

#app-name {
    font-size: 1.3rem;
}


nav{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    background-color: #4D4C72;
}

nav img {
    height: 30px;
    width: 30px;
}

.nav-head {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
.grey-rect {
    background-color:#F7F7F7;
    width: 70%;
    height: 100%;
    border-left: 1px solid rgb(191, 170, 170);
    border-bottom: 1px solid rgb(191, 170, 170);
}



#alert {
    display: inline-block;
    margin: 15px;
    background-color: #7477BF;
    border-radius: 10px;
    color: #F2F2F2;
    padding: 15px;
    font-size: 1.1rem;
}

.alert-banner p {
    display: inline-block;
}

.alert-banner-close {
    margin-left: 25px;
}

.traffic ul {
    margin-top: 10px;
}

.traffic ul li{
    display: inline;
    margin: 10px 0px;
    padding:15px;
  }

  .traffic ul li:first-child {
      background-color: teal;
      border-radius: 25px;
      color: #99CC99;
  }

.traffic {
    width: 100vw;
    height: 50vw;
    padding: 15px;
}

.traffic h3 {
    padding: 15px;
}

.dayily-traffic {
    margin-top: 70px;
    width: 100vw;
    height: 50vw;
    padding: 15px;
}

.mobile-users {
    margin-top: 70px;
    width: 100vw;
    height: 100vw;
}
.mobile-users h3 {
    padding: 15px;
}


.dayily-traffic h3 {
    padding: 15px;
}

.pie-chart {
    padding: 10%;
}

.social-stats {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.social-sec {
    display: flex;
    height: 90px;
    background-color: #F5F5F5;
    align-items: center;
    color: #7477BF;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
    border:1px solid #ccc;
    border-radius: 15px;
    padding: 15px;
}

.social-sec img {
    width: 50px;
    margin-right: 15px;
}

.counter {
    color: #777777;
    font-size: 2rem;
}

.new-members {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    /* font-size: .7rem; */
}

.member:last-child {
    border-bottom: 0px solid #ccc;
}

.member img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.recent-activity {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.message {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.message input, textarea, select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background-color: #F5F5F5;
}

.switch-sec {
    display: flex;
    justify-content: space-between;
}

.settings {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.settings input[type="submit"], input[type="reset"] {
    width: 40%;
    margin: 15px;
    height: 40px;
    background-color: #7477BF;
    color: white;
    border-radius: 10px;
}

.settings input[type="reset"] {
    background-color: #999;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @media screen and (min-width: 760px) {
      
    header {
        display: none;
    }

    nav {
        display: none;
    }

    .nav-head {
        display: none;
    }

    #alert {
        display: none;
    }

    .traffic {
        display: none;
    }

    .dayily-traffic {
        display: none;
    }

    .mobile-users {
        display: none;
    }

    .social-stats {
        display: none;
    }

    .new-members {
        display: none;
    }

    .recent-activity {
        display: none;
    }

    .message {
        display: none;
    }

    .settings {
        display: none;
    }
  }